body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    margin: 0;
    font-size: 2rem;
    color:red;
}
 


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: blue;
}


.produit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produit {
    background-color: violet;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    transition: transform 0.2s;
}
h2.text-primary {
    color: red!important; 
} 

.text-violet {
    color: violet!important; 
}

h2.text-primary {
    color: red!important; 

.produit:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.produit img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul li a {
    text-decoration: none;
    color: #007bff;
}

footer ul li a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .produit-container {
        flex-direction: column;
        align-items: center;
    }
}



